@charset "UFT-8";
.header-delay-time {
    animation-delay: 0.01s;
}
.delay-time {  
	animation-delay: 0.30s;
}
.section-top {
    margin-left: 16px;
    margin-bottom: 56px; /* .section-top__container40px＋56px=96px */
    overflow-x: clip;
}
.section-top h2 {
    padding-top: 100px;
    margin-bottom: 40px;
}
.section-top h3 {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    margin-bottom: 24px;
    position: relative;
}
.section-top h3::after {
    border-top: 1px solid #A7D398;
    content: "";
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 50%;
}
.section-top h3 span {
    display: inline-block;
    background: #fff;
    position: relative;
    z-index: 10;
    padding-right: 8px;
}
.section-top p {
    padding-right: 16px;
    margin-bottom: 40px;
    text-align: justify;
    line-height: 1.9rem;
}
@media (min-width: 769px) {
    .section-top {
        margin-left: 40px;
        margin-bottom: 168px;
    }
    .section-top__wrap {
        padding-left: 160px;
    }
    .section-top h2 {
        padding-top: 52px;
        margin-bottom: 104px;
    }
    .section-top h3 {
        font-size: 4.8rem;
        letter-spacing: 0.1rem;
        margin-bottom: 48px;
    }
    .section-top h3 span {
        padding-right: 24px;
    }
    .section-top p {
        padding-right: 40px;
        margin-bottom: 64px;
        line-height: 3.0rem;
    }
}

